:root {
    --primary: 97, 150, 166;
    --secondary: 95, 93, 156;
    --tertiary: 164, 206, 149;

    --default: 0, 169, 255;
    --success: 116, 226, 145;
    --danger: 255, 128, 128;
    --warning: 255, 164, 71;
}
